{% set media_path = "user/uploads/" ~ header.main.media_select %}

<section modular="seperator-image" style="background-image: url({{ url(media_path) }}); background-color: {{ header.main.bg_color|raw }}; height:{{ header.main.height|raw }}">
	<div class="inner">

		

	</div>
</section>