
//*-----|| fonts-face ||--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
$font-path: '../fonts/';
$font-folder: 'TeX-Gyre-Heros/';
$font-name: 'texgyreheros-bold-webfont';
@font-face {
	font-family: 'tex_gyre_herosbold';
	src: url($font-path + $font-folder + $font-name + '.woff') format('woff'),
		url($font-path + $font-folder + $font-name + '.ttf') format('truetype'),
		url($font-path + $font-folder + $font-name + '.svg#tex_gyre_herosbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

$font-folder: 'Latin-Modern-Sans/';
$font-name: 'lmsans10-regular-webfont';
@font-face {
	font-family: 'latin_modern_sans10_regular';
	src: url($font-path + $font-folder + $font-name + '.woff') format('woff'),
		url($font-path + $font-folder + $font-name + '.ttf') format('truetype'),
		url($font-path + $font-folder + $font-name + '.svg#latin_modern_sans10_regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*-----|| initial import ||----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

@import "basic/variables";
@import "basic/mixin";
@import "basic/debug";



/*-----|| custom global definitions ||-----------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

html, body {
	margin: 0;
	background-color: $cl-main;
	color: $cl-font;
	font-size: $font-m;
}

main {
	padding: 2em 0em;
	overflow: hidden;
}

.flex {
	display: flex;
}

header {
	position: relative;
	overflow: hidden;
}

section {
	margin-bottom: 120px!important;
}

/*-----|| text ||--------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

p, a, a:active, a:visited, span, ul, ol, li {
	color: $cl-font;
	font-family: $font-text;
}

h1, h2, h3, h4, h5, h6 {
	color: $cl-font;
	font-family: $font-heading;
	font-weight: bold;
}

h1, .h1 {
	font-size: $font-xxl;
}
h2, .h2 {
	font-size: $font-xl;
}
h3, .h3 {
	font-size: $font-l;
}
h4, .h4 {
	font-size: $font-m;
}
h5, .h5 {
	font-size: $font-s;
}
h6, .h6 {
	font-size: $font-xs;
}


/*-----|| forms ||-------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.button, button {
	position: relative;
	background-color: $cl-main;
	border: 2px outset $cl-grey;
	padding: 6px 16px;
	height: 1em;width: 1em;
	font-size: $font-s;
	font-family: $font-heading;
	text-decoration: none;
	line-height: 1em;
	cursor: pointer;
	overflow: hidden;
	&.text-icon {
		padding-right: calc(32px + 1em);
		//padding-top: 4px;
		&:after {
			margin-top:2px;
		}
	}

	&:hover {
		background-color: $cl-main-light;
		&:after {
			animation: button-hover;
			animation-duration: 300ms;
		}
	}
	&:active {
		border-radius: 0;
		border-style: inset;
		outline: none;
		font-family: $font-heading;
	}
	&:after {
		position: absolute;
		right: 16px;
	}
}
@keyframes button-hover {
  0% {right:16px;}
  50% {right:-8px;}
  51% {right:40px;}
  100% {right:16px;}
}



/*-----|| import content ||----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

@import "templates/navigation";
@import "templates/header";
@import "templates/footer";


@import "modules/clean-text";
@import "modules/expertise-list";
@import "modules/page-teaser";
@import "modules/project-preview";
@import "modules/seperator-image";

@import "modules/parts/glitch-text";
@import "modules/parts/intro_block";
@import "modules/parts/matrix";
