section[modular=project-preview] {
	@include doc-width;
	>.inner {
		>.flex {
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.element.project {
			width: $project-preview-element-width;
			>.flex {
				flex-direction: column;
			}
		}

		.element.inner {
			position: relative;
			&:hover {
				.img-container {
					max-height: 640px;
					img {
						margin-top: 0%;
					}
				}
				.overlay {
					opacity: 1;
				}
			}
		}

		.img-container {
			max-height: 360px;
			overflow: hidden;
			transition: max-height 300ms $easeInOutSine;
			img {
				width: 100%;
				margin-top: -20%;
				margin-bottom: -5px;
				transition: margin-top 300ms $easeInOutSine;
				pointer-events: none;
			}
			
		}
		.overlay {
			position: absolute;
			top: 0;left:0;
			width: calc(100% - (#{$overlay-padding} * 2)); height: calc(100% - (#{$overlay-padding} * 2));
			background-color: $cl-main-80;
			-webkit-backdrop-filter: blur(4px);
			-o-backdrop-filter: blur(4px);
			-moz-backdrop-filter: blur(4px);
			backdrop-filter: blur(4px);
			padding: $overlay-padding;
			overflow: hidden;
			opacity: 0;
			transition: opacity 300ms $easeInOutSine;
			.text-container.flex {
				height: 100%;
				align-items: center;
			}
			a {
				height: 100%;
			}
		}
		
		.title {
			background-color: $cl-main-60;
			height: 100%;
			padding: 0.5em 0em;
			.text-container.flex {
				justify-content: space-between;
				align-items: center;
				p {
					font-size: $font-l;
					font-family: $font-heading;
					margin: 0;
				}
			}
		}
		
	}

}