//////////////////////
///// Sass variables
//////////////////////

// ----------------------------------------------------------------------------
// COLORS
// ----------------------------------------------------------------------------
// colors primary
$cl-white:		#FFF;
$cl-black:		#0E0E0E;
$cl-grey:		#CCC;

//custom colors
$cl-main:	#1F1F1F;
$cl-main-80:	rgba(31,31,31,0.8);
$cl-main-60:	rgba(31,31,31,0.6);
$cl-main-light: #2F2F2F;

$cl-font:	#EAEAEA;

// ----------------------------------------------------------------------------
// FONTS
// ----------------------------------------------------------------------------
// sizes
$font-supersize:	64px;
$font-xxl:			46px;
$font-xl:			32px;
$font-l:			24px;
$font-m:			18px;
$font-s:			16px;
$font-xs:			12px;
$font-xxs:			8px;

//weights
$font-regular:		400;
$font-medium:		600;
$font-bold:			700;
$font-extrabold:	800;

// families

$font-text: "latin_modern_sans10_regular", Verdana, sans-serif;
$font-heading: "tex_gyre_herosbold", Helvetica, sans-serif;

// ----------------------------------------------------------------------------
// BREAKPOINTS
// ----------------------------------------------------------------------------
$bp-xxs:	480px;
$bp-xs:		600px;
$bp-s:		840px;
$bp-m:		960px;
$bp-l:		1200px;
$bp-xl:		1400px;
$bp-xxl:	1600px;
$bp-font:	$bp-s; // the breakpoint the base-font-size (<html>) responds to

// ----------------------------------------------------------------------------
// LAYOUT
// ----------------------------------------------------------------------------
$doc-width: 1920px;

// HEADER
$header-height: 92vh;
// NAVIGATION
$nav-height-basis: 120px;
$nav-height: $nav-height-basis - (2 * $font-m);
// PROJECT-PREVIEW
$project-preview-element-count: 4;
$project-preview-element-width: calc(( 100% / #{$project-preview-element-count} ) - 2em );
$overlay-padding: 2em;

// ----------------------------------------------------------------------------
// SPACINGS
// ----------------------------------------------------------------------------
// vertical spacings (set via resp-spacing mixin)
// mobile (bp-1)
$spacing-xxl:	80px;
$spacing-xl:	64px;
$spacing-l:		48px;
$spacing-m:		32px;
$spacing-s:		24px;
$spacing-xs:	16px;
$spacing-xxs:	8px;

// SPACING TABLET/DESKTOP
$spacing-xxl-dk:	240px;
$spacing-xl-dk:		190px;
$spacing-l-dk:		120px;
$spacing-m-dk:		55px;
$spacing-s-dk:		25px;
$spacing-xs-dk:		15px;
$spacing-xxs-dk:	8px;

// ----------------------------------------------------------------------------
// IMAGE RATIOS
// ----------------------------------------------------------------------------
$image-ratio-16to9:		(9 / 16);
$image-ratio-4to1:		(1 / 4);
$image-ratio-3to1:		(1 / 3);
$image-ratio-2to1:		(1 / 2);
$image-ratio-2-5to1:	(2 / 5);
$image-ratio-4to3:		(3 / 4);
$image-ratio-3to4:		(4 / 3);
$image-ratio-1to1:		(1 / 1);


// ----------------------------------------------------------------------------
// EASING FUNCTIONS
// https://matthewlein.com/tools/ceaser
// ----------------------------------------------------------------------------
$easeInOutQuad:		cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutQuart:	cubic-bezier(0.77, 0, 0.175, 1);
$easeInQuad:		cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad:		cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutQuart:		cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutSine:		cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeOutExpo:		cubic-bezier(0.19, 1, 0.22, 1);